.body {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

.iframe {
  padding-bottom: 1.5rem;
}

.title {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.bottomContainer {
  text-align: center;
  padding-top: 2rem;

  .square {
    margin-top: 1rem;
    border: 1px solid #4b4949;
    border-radius: 8px;
    padding: 1rem;
    color: #fff;
  }

  .text {
    font-size: 1.1rem;
    color: #fff;
    padding: 2rem 0;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
  }
}
