.carouselContainer {
  position: relative;
  max-width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 18px;
}

.carouselWrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 18px;
}

.carouselTrack {
  display: flex;
  transition: transform 0.4s ease;
}

.carrouselItem img {
  width: 100%;
  height: 430px;
  object-fit: cover;
  border-radius: 18px;
  background-position: center;
}

.nav {
  background: var(--carousel-nav-bg);
  color: var(--carousel-nav-color);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  user-select: none;
  z-index: 10000;
}

.nav img {
  margin-left: 10px;
}

.nav:disabled {
  opacity: 0.3;
  cursor: default;
}

.prev {
  position: absolute;
  left: 20px;
}
.next {
  position: absolute;
  right: 20px;
  transform: rotate(-180deg);
}

.dots {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ffffff66;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeDot {
  background: #fff;
  border-radius: 10px;

  width: 20px;
}

@media (max-width: 1285px) {
  .carouselContainer {
    max-width: 800px;
  }
}

@media (max-width: 850px) {
  .carouselContainer {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
}
